@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AFFNT</h1>
    <p class="lead">This Application is made for people from smarter people</p>
    @Html.ActionLink("Find People", "Matches", new { @class="btn btn-primary btn-lg"})
</div>

